<div class="box box-warning" ng-controller="eventController">
    <div class="box-header with-border">
        <h3 class="box-title">Create New Event</h3>
    </div><!-- /.box-header -->
    <div class="box-body">
        <form role="form">
            <!-- text input -->
            <div class="form-group">
                <label>Event Name</label>
                <input type="text" class="form-control" placeholder="Please Enter Your Event Name" ng-model="event.event_name">
            </div>
            <div class="form-group">
                <label>Event Venue</label>
                <input type="text" class="form-control" placeholder="Please Enter Your Event Venue" ng-model="event.venue">
            </div>
            <div class="form-group">
                <label>Event Details</label>
                <textarea class="form-control" rows="3" placeholder="Enter Here The Event Details" ng-model="event.event_details"></textarea>
            </div>
            <div class="form-group">
                <label>Event Start Date</label>
                <input type="date"  name="input" ng-model="event.start_date"
                       placeholder="yyyy-MM-dd" required />
            </div>
            <div class="form-group">
                <label>Event End Date</label>
                <input type="date"  name="input" ng-model="event.end_date"
                       placeholder="yyyy-MM-dd" required />
            </div>


        </form>
    </div><!-- /.box-body -->
    <div class="box-footer">
        <button type="submit" class="btn btn-primary pull-right" ng-click="addEvent(event)">Submit</button>
    </div>
</div>