<div class="box box-warning" ng-controller="userController">
    <div class="box-header with-border">
        <h3 class="box-title">Application Users</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <table class="table table-bordered">
            <tbody>
            <tr>
                <th>Profile Pic</th>
                <th>User Name</th>
                <th>Email</th>
                <th>Action</th>
                <th>Status</th>
            </tr>
            <tr class="user-row" ng-repeat="user in users track by $index">
                <td><img ng-src="{{user.profile}}" style="width:50px;height:50px;"/></td>
                <td class="vertical-align"><span>{{user.first_name}}</span> <span>{{user.last_name}}</span></td>
                <td class="vertical-align"><span>{{user.email}}</span></td>
                <td>
                    <button type="submit"  class="btn btn-success"
                            ng-click="approve($index)">Approve
                    </button>
                    <button type="submit"  class="btn btn-info"
                            ng-click="reject($index)">Reject
                    </button>
                    <button type="submit" class="btn btn-danger"
                            ng-click="reject($index)">Ban or Delete
                    </button>
                </td>
                <td>
                    <span>{{user.role}}</span>
                </td>
            </tr>

            </tbody>
        </table>
    </div>
    <!-- /.box-body -->
    <!-- <div class="box-footer clearfix">
         <ul class="pagination pagination-sm no-margin pull-right">
             <li><a href="#">«</a></li>
             <li><a href="#">1</a></li>
             <li><a href="#">2</a></li>
             <li><a href="#">3</a></li>
             <li><a href="#">»</a></li>
         </ul>
     </div>-->

</div>