<div class="wrapper">

    <div ng-include="template/header.html"></div>
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">

        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">

            <!-- Sidebar user panel (optional) -->
            <div class="user-panel">
                <div class="pull-left image">
                    <img src="dist/img/avatar.png" class="img-circle" alt="User Image">
                </div>
                <div class="pull-left info">
                    <p>Alexander Pierce</p>
                    <!-- Status -->
                    <a href=""><i class="fa fa-circle text-success"></i> Online</a>
                </div>
            </div>

            <!-- Sidebar Menu -->
            <ul class="sidebar-menu" ng-controller="menuController">
                <li class="header">SETTINGS</li>
                <!-- Optionally, you can add icons to the links -->
                <li class="active" ng-click="usermenu()"><a href="javascript:void(0)"><i class="fa fa-user"></i> <span>Users</span></a></li>
                <li ng-click="postmenu()"><a href="javascript:void(0)"><i class="fa fa-link"></i> <span>Posts</span></a></li>
                <!--<li class="treeview">-->
                    <!--<a href="javascript(void(0))"><i class="fa fa-link"></i> <span>Multilevel</span> <i class="fa fa-angle-left pull-right"></i></a>-->
                    <!--<ul class="treeview-menu">-->
                        <!--<li><a href="javascript(void(0))">Link in level 2</a></li>-->
                        <!--<li><a href="javascript(void(0))">Link in level 2</a></li>-->
                    <!--</ul>-->
                <!--</li>-->
            </ul><!-- /.sidebar-menu -->
        </section>
        <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Users
                <small>Know about users</small>
            </h1>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="user" ng-repeat="user in users">
                <img ng-src="{{user.profile_img}}">
                <span style="display: block;">{{user.name}}</span>
                <span style="display: block;">{{user.role}}</span>
                <button type="button" class="btn btn-default">More Info</button>
            </div>
            <!-- Your Page Content Here -->

        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->


</div><!-- ./wrapper -->