<div class="wrapper">

    <!-- Main Header -->
    <header class="main-header">

        <!-- Logo -->
        <div class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini"><b>A</b>WC</span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg"><b>AMASI</b> Console</span>
        </div>

        <!-- Header Navbar -->
        <nav class="navbar navbar-static-top" role="navigation">
            <!-- Sidebar toggle button-->
            <a class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>
            <!-- Navbar Right Menu -->
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <!-- User Account Menu -->
                    <li class="dropdown user user-menu">
                        <!-- Menu Toggle Button -->
                        <a href="javascript(void(0))" class="dropdown-toggle" data-toggle="dropdown">
                            <!-- The user image in the navbar-->
                            <img src="dist/img/avatar.png" class="user-image" alt="User Image">
                            <!-- hidden-xs hides the username on small devices so only the image appears. -->
                            <span class="hidden-xs">Alexander Pierce</span>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- The user image in the menu -->
                            <li class="user-header">
                                <img src="dist/img/avatar.png" class="img-circle" alt="User Image">
                                <p>
                                    Alexander Pierce - Admin
                                </p>
                            </li>
                            <!-- Menu Footer-->
                            <li class="user-footer">
                                <div class="pull-left">
                                    <a href="javascript(void(0))" class="btn btn-default btn-flat">Profile</a>
                                </div>
                                <div class="pull-right">
                                    <a href="#/" class="btn btn-default btn-flat">Sign out</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">

        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">

            <!-- Sidebar user panel (optional) -->
            <div class="user-panel">
                <div class="pull-left image">
                    <img src="dist/img/avatar.png" class="img-circle" alt="User Image">
                </div>
                <div class="pull-left info">
                    <p>Alexander Pierce</p>
                    <!-- Status -->
                    <a href=""><i class="fa fa-circle text-success"></i> Online</a>
                </div>
            </div>

            <!-- search form (Optional) -->
            <!--<form action="#" method="get" class="sidebar-form">
              <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                  <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
                </span>
              </div>
            </form>-->
            <!-- /.search form -->

            <!-- Sidebar Menu -->
            <ul class="sidebar-menu" ng-controller="menuController">
                <li class="header">SETTINGS</li>
                <!-- Optionally, you can add icons to the links -->
                <li class="active" ng-click="usermenu()"><a href="javascript:void(0)"><i class="fa fa-user"></i> <span>Users</span></a></li>
                <li ng-click="postmenu()"><a href="javascript:void(0)"><i class="fa fa-link"></i> <span>Posts</span></a></li>
                <!--<li class="treeview">-->
                    <!--<a href="javascript(void(0))"><i class="fa fa-link"></i> <span>Multilevel</span> <i class="fa fa-angle-left pull-right"></i></a>-->
                    <!--<ul class="treeview-menu">-->
                        <!--<li><a href="javascript(void(0))">Link in level 2</a></li>-->
                        <!--<li><a href="javascript(void(0))">Link in level 2</a></li>-->
                    <!--</ul>-->
                <!--</li>-->
            </ul><!-- /.sidebar-menu -->
        </section>
        <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Users
                <small>Know about users</small>
            </h1>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="user" ng-repeat="user in users">
                <img ng-src="{{user.profile_img}}">
                <span style="display: block;">{{user.name}}</span>
                <span style="display: block;">{{user.role}}</span>
                <button type="button" class="btn btn-default">More Info</button>
            </div>
            <!-- Your Page Content Here -->

        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->

    <!-- Main Footer -->
    <!--<footer class="main-footer">-->
        <!--&lt;!&ndash; To the right &ndash;&gt;-->
        <!--<div class="pull-right hidden-xs">-->
            <!--Made with <i class="fa fa-heart"></i>-->
        <!--</div>-->
        <!--&lt;!&ndash; Default to the left &ndash;&gt;-->
        <!--<strong>Copyright &copy; 2015 <a href="#">SDIT</a>.</strong> All rights reserved.-->
    <!--</footer>-->

</div><!-- ./wrapper -->