
<header class="main-header" ng-controller="menuController" ng-include="'./template/header.html'"></header>
<!-- Full Width Column -->
<div class="content-wrapper" style="min-height: 576px;">
    <div class="container">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                {{$root.sectionTitle}}
            </h1>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="user" ng-if="($root.menu ==='user')" ng-repeat="user in users">
                <img ng-src="{{user.profile_img}}">
                <span style="display: block;">{{user.name}}</span>
                <span style="display: block;">{{user.role}}</span>
                <button type="button" class="btn btn-default">More Info</button>
            </div>
            <div class="post" ng-if="($root.menu ==='post')" ng-repeat="post in posts">
                <div><span>Title: {{post.post_title}}</span><span class="pull-right">Status: {{post.status}}</span></div>
                <iframe id="video" width="420" height="315" src="//www.youtube.com/embed/9B7te184ZpQ?rel=0" frameborder="0" allowfullscreen></iframe>
                <button type="button" style="margin:12px;" class="pull-right" ng-style="{'visibility' : (post.showbtn)? 'visible' : 'hidden'}" class="btn btn-default">APPROVE</button>
            </div>
            <div ng-if="($root.menu ==='event')" ng-include="'./template/event.html'"></div>
        </section><!-- /.content -->

    </div><!-- /.container -->
</div><!-- /.content-wrapper -->
<footer class="main-footer">
    <div class="container">
        <div class="pull-right hidden-xs">
            <b>Version</b> 1.0.0
        </div>
        <strong>Copyright &copy; 2016-2017 <a href="http://amasilive.com">AMASI</a>.</strong> All rights reserved.
    </div><!-- /.container -->
</footer>
